/* Color Variables */
:root {
    --accent-color: #0af;
    --success-color: #27ae60;
    --success-hover-color: #0f0;
    --error-color: #eb5757;
    --error-hover-color: #f00;
}

.input {
    border: 1px solid #aaa;
    border-radius: .2em;
    font-size: inherit;
    padding: .5em;
    display: block;
    margin: 1rem 0;
    outline: none;
}

.input:hover,
.input:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 5px 0 var(--accent-color);
}

.input.input-success {
    border-color: var(--success-color);
}

.input.input-success:hover,
.input.input-success:focus {
    border-color: var(--success-hover-color);
    box-shadow: 0 0 5px 0 var(--success-hover-color);
}

.input.input-error {
    border-color: var(--error-color);
}

.input.input-error:hover,
.input.input-error:focus {
    border-color: var(--error-hover-color);
    box-shadow: 0 0 5px 0 var(--error-hover-color);
}

.input.input-large {
    font-size: 1.25rem;
}

.input.input-small {
    font-size: .7rem;
}

.input:disable {
    background-color: #eaeaea;
}